<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Tesla Configurator</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div mat-tab-nav-bar [tabPanel]="tabPanel">
                <a
                    mat-tab-link
                    routerLink="/model"
                    routerLinkActive="active"
                    #rla1="routerLinkActive"
                    [active]="rla1.isActive"
                    ariaCurrentWhenActive="page"
                    id="step1">
                    Step 1
                </a>
                <a
                    mat-tab-link
                    routerLink="/config"
                    [disabled]="!configurationService.isStep2Enabled()"
                    routerLinkActive="active"
                    #rla2="routerLinkActive"
                    [active]="rla2.isActive"
                    ariaCurrentWhenActive="page"
                    id="step2">
                    Step 2
                </a>
                <a
                    mat-tab-link
                    routerLink="/summary"
                    [disabled]="!configurationService.isStep3Enabled()"
                    routerLinkActive="active"
                    #rla3="routerLinkActive"
                    [active]="rla3.isActive"
                    ariaCurrentWhenActive="page"
                    id="step3">
                    Step 3
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-divider></mat-divider>
            <mat-tab-nav-panel #tabPanel>
                <router-outlet></router-outlet>
            </mat-tab-nav-panel>
        </div>
    </div>
</div>